name: Release

on:
  push:
    tags:
      - v*

env:
  GH_TOKEN: ${{secrets.GH_TOKEN}}
  SEGMENT_WRITE_KEY: ${{secrets.SEGMENT_WRITE_KEY}}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Unshallow
        run: |
          git fetch --prune --unshallow

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ${{ github.workspace }}/go.mod

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v3
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

  node-release:
    runs-on: ubuntu-latest
    needs: release
    steps:
      - name: Trigger node-saucectl Release
        # pre-release version contains `-` and should be skipped when publishing node-saucectl.
        if: ${{ !contains(github.ref, '-') }}
        run: |
          version=$(echo $GITHUB_REF_NAME | cut -c2-)
          echo "Release saucectl $version"
          curl -X POST https://api.github.com/repos/saucelabs/node-saucectl/dispatches \
          -H 'Accept: application/vnd.github.everest-preview+json' \
          -u devx-sauce-bot:$GH_TOKEN \
          --data "{\"event_type\": \"saucectl_release\", \"client_payload\": { \"version\": \"$version\" }}"
