# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: saucectl tests pipeline

on:
  pull_request:
  push:
    branches:
      - master

env:
  SAUCE_USERNAME: ${{secrets.SAUCE_USERNAME}}
  SAUCE_ACCESS_KEY: ${{secrets.SAUCE_ACCESS_KEY}}


jobs:
  lint:
    runs-on: ubuntu-latest
    container:
      image: golang:1.16-alpine

    steps:
      - name: Install Dependencies
        run: apk add --no-cache git gcc g++ curl

      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Lint project
        run: |
          go get -u golang.org/x/lint/golint
          golint -set_exit_status ./...
  test:
    runs-on: ubuntu-latest
    container:
      image: golang:1.16

    steps:
      - name: Install Dependencies
        run: apt install git gcc g++ curl bash

      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 10

      - name: Debug Step
        run: |
          go env GOCACHE
          go env GOMODCACHE

      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-mod

#      - uses: actions/cache@v2
#        with:
#          path: /github/home/.cache/go-build
#          key: ${{ runner.os }}-go-build-${{ hashFiles('**/go.sum') }}
#          restore-keys: |
#            ${{ runner.os }}-go-build

      - name: Run tests
        run: |
          go test -coverprofile=coverage.txt -covermode=atomic ./...
          coverage=$(go tool cover -func=coverage.txt | tail -n 1 | awk '{ print $3 }' | tr -d '%')
          threshold=40
          if [[ $coverage < $threshold ]]; then echo 'Code coverage below threshold!' && exit 1; fi
      - name: Upload coverage to Codecov
        run: |
          curl -s https://codecov.io/bash > codecov.sh && chmod +x codecov.sh
          ./codecov.sh
  build:
    needs: lint
    runs-on: ubuntu-latest
    container:
      image: golang:1.16

    steps:
      - name: Install Dependencies
        run: apt install git gcc g++ curl

      - name: Checkout Code
        uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Build project
        run: |
          go install ./...
          CGO_ENABLED=0 go build cmd/saucectl/saucectl.go
          GOOS=windows GOARCH=amd64 go build cmd/saucectl/saucectl.go

      - name: Check GoReleaser config
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: check

      - name: Upload binary
        uses: actions/upload-artifact@v2
        with:
          name: saucectlbin
          path: |
            saucectl
            saucectl.exe
  puppeteer:
    needs: build
    runs-on: ubuntu-latest
    container:
      image: saucelabs/stt-puppeteer-jest-node:v0.1.5
      options: --user 1001

    steps:
      # appears that checkout@v2 uses javascript which is not compatible
      # with the included node version in the container image.
      - name: Checkout Code
        uses: actions/checkout@v1

      - name: Download saucectl binary
        uses: actions/download-artifact@v2
        with:
          name: saucectlbin

      - name: Run Sauce Pipeline Test
        run: |
          chmod +x ./saucectl
          ./saucectl run -c ./.sauce/puppeteer.yml --verbose
        env:
          BUILD_ID: ${{ github.run_id }}

      - name: Run Sauce Pipeline with beforeExec
        run: |
          chmod +x ./saucectl
          ./saucectl run -c ./.sauce/puppeteer_before_exec.yml --verbose
        env:
          BUILD_ID: ${{ github.run_id }}
  playwright:
    needs: build
    runs-on: ubuntu-latest

    steps:
      # appears that checkout@v2 uses javascript which is not compatible
      # with the included node version in the container image.
      - name: Checkout Code
        uses: actions/checkout@v1

      - name: Download saucectl binary
        uses: actions/download-artifact@v2
        with:
          name: saucectlbin

      - name: Workaround for container permissions
        run: sudo chmod -R 777 tests/

      - name: Run Sauce Pipeline Test
        run: |
          chmod +x ./saucectl
          ./saucectl run -c ./.sauce/playwright.yml --verbose
        env:
          BUILD_ID: ${{ github.run_id }}
  testcafe:
    needs: build
    runs-on: ubuntu-latest

    steps:
      # appears that checkout@v2 uses javascript which is not compatible
      # with the included node version in the container image.
      - name: Checkout Code
        uses: actions/checkout@v1

      - name: Download saucectl binary
        uses: actions/download-artifact@v2
        with:
          name: saucectlbin

      - name: Workaround for container permissions
        run: sudo chmod -R 777 tests/

      - name: Run Sauce Pipeline Test
        run: |
          chmod +x ./saucectl
          ./saucectl run -c ./.sauce/testcafe.yml --verbose
        env:
          BUILD_ID: ${{ github.run_id }}
          BUILD_ENV: GitHub Actions
  cypress:
    needs: build
    runs-on: ubuntu-latest
    env:
      BUILD_ID: ${{ github.run_id }}
      BUILD_ENV: GitHub Actions

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Download saucectl binary
        uses: actions/download-artifact@v2
        with:
          name: saucectlbin

      - name: Workaround for container permissions
        run: sudo chmod -R 777 tests/

      - name: Run Sauce Pipeline Test - Docker
        run: |
          chmod +x ./saucectl
          ./saucectl run -c ./.sauce/cypress.yml

      - name: Run Sauce Pipeline Test - Sauce Cloud
        run: |
          ./saucectl run -c ./.sauce/cypress_cloud.yml --test-env sauce --ccy 5
  cypress-windows:
    needs: build
    runs-on: windows-latest
    env:
      BUILD_ID: ${{ github.run_id }}
      BUILD_ENV: GitHub Actions

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Download saucectl binary
        uses: actions/download-artifact@v2
        with:
          name: saucectlbin

      - name: Run Sauce Pipeline Test - Sauce Cloud
        run: |
          ./saucectl.exe run -c .sauce/cypress_cloud.yml --test-env sauce --ccy 5
