# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: saucectl tests pipeline

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  basic:
    runs-on: ubuntu-latest
    container:
      image: golang:1.14-alpine

    steps:
      - name: Install Dependencies
        run: apk add --no-cache git gcc g++ curl

      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Build project
        run: |
          go install ./...
          go get -u github.com/mcubik/goverreport
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.24.0  
          CGO_ENABLED=0 go build cmd/saucectl/saucectl.go

      - name: Lint project
        run: |
          go get -u golang.org/x/lint/golint
          golint -set_exit_status ./...

      - name: Run tests
        run: |
          go test -coverprofile=coverage.out ./...
          goverreport -sort=block -order=desc -threshold=44
      - name: Upload binary
        uses: actions/upload-artifact@v2
        with:
          name: saucectlbin
          path: saucectl
  puppeteer:
    needs: basic
    runs-on: ubuntu-latest
    container:
      image: saucelabs/stt-puppeteer-jest-node:v0.1.5-alpha.1
      options: --user 1001

    steps:
      # appears that checkout@v2 uses javascript which is not compatible
      # with the included node version in the container image.
      - name: Checkout Code
        uses: actions/checkout@v1

      - name: Download saucectl binary
        uses: actions/download-artifact@v2
        with:
          name: saucectlbin

      - name: Run Sauce Pipeline Test
        run: |
          chmod +x ./saucectl
          ./saucectl run -c ./.sauce/puppeteer.yml --verbose
        env:
          BUILD_ID: ${{ github.run_id }}
  playwright:
    needs: basic
    runs-on: ubuntu-latest
    container:
      image: saucelabs/stt-playwright-jest-node:v0.1.6-alpha.2
      options: --user 1001

    steps:
      # appears that checkout@v2 uses javascript which is not compatible
      # with the included node version in the container image.
      - name: Checkout Code
        uses: actions/checkout@v1

      - name: Download saucectl binary
        uses: actions/download-artifact@v2
        with:
          name: saucectlbin

      - name: Run Sauce Pipeline Test
        run: |
          chmod +x ./saucectl
          ./saucectl run -c ./.sauce/playwright.yml --verbose
        env:
          BUILD_ID: ${{ github.run_id }}
  testcafe:
    needs: basic
    runs-on: ubuntu-latest
    container:
      image: saucelabs/stt-testcafe-node:v0.1.5-alpha.1
      options: --user 1001

    steps:
      # appears that checkout@v2 uses javascript which is not compatible
      # with the included node version in the container image.
      - name: Checkout Code
        uses: actions/checkout@v1

      - name: Download saucectl binary
        uses: actions/download-artifact@v2
        with:
          name: saucectlbin

      - name: Run Sauce Pipeline Test
        run: |
          chmod +x ./saucectl
          ./saucectl run -c ./.sauce/testcafe.yml --verbose
        env:
          BUILD_ID: ${{ github.run_id }}
          BUILD_ENV: GitHub Actions
  cypress:
    needs: basic
    runs-on: ubuntu-latest
    container:
      image: saucelabs/stt-cypress-mocha-node:v0.1.9-alpha.1
      options: --user 1001

    steps:
      # appears that checkout@v2 uses javascript which is not compatible
      # with the included node version in the container image.
      - name: Checkout Code
        uses: actions/checkout@v1

      - name: Download saucectl binary
        uses: actions/download-artifact@v2
        with:
          name: saucectlbin

      - name: Run Sauce Pipeline Test
        run: |
          chmod +x ./saucectl
          ./saucectl run -c ./.sauce/cypress.yml
        env:
          BUILD_ID: ${{ github.run_id }}
          BUILD_ENV: GitHub Actions
