# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: saucectl pipeline

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: golang:1.14-alpine

    steps:
      - name: Install Dependencies
        run: apk add --no-cache git gcc g++ curl

      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Build project
        run: |
          go install ./...
          go get -u github.com/mcubik/goverreport
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.24.0  
          CGO_ENABLED=0 go build cmd/saucectl/saucectl.go

      - name: Lint project
        run: |
          golangci-lint run ./...

      - name: Run tests
        run: |
          go test -coverprofile=coverage.out ./...
          goverreport -sort=block -order=desc -threshold=51.06